<form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
    <div>
      <h2>Login</h2>
      <div *ngIf="invalidLogin" class="alert alert-danger">
        Invalid user credentionals
      </div>
      <br />
      <label for="nickName">Nick Name</label>
      <input type="text" id="nickName" name="nickName" ngModel class="form-control" required autofocus />
      <br />
      <label for="password">Password</label>
      <input type="text" id="password" name="password" ngModel class="form-control" required />
      <br />
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </div>
  </form>


